:root{
  --mainBlue: #22224e;
  --lightBlue: #009ffd;
  --logoBlue: #99D9EA;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --backgroundDark: #282a2e;
  --hoverDark: #4a4d52;
  --mainYellow: #ffa400;
  --boxShadow: rgba(0, 0, 0, 0.2);
}

body {
  font-family: 'Nunito', sans-serif !important;
  background: var(--backgroundDark) !important;
  color: var(--mainWhite) !important;
}

.text-title {
  font-family: 'Comfortaa', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-large {
  font-size: 1.4rem;
}

.text-blue {
  color: var(--logoBlue);
}
.text-bright {
  color: var(--lightBlue);
}
.btn-black {
  font-size: 0.8rem !important;
  text-transform: uppercase;
  color: var(--mainWhite) !important;
  background: var(--mainDark) !important;
  border: 0.1rem solid var(--mainWhite) !important;
}
.btn-black.clickable {
  cursor: pointer;
}
.btn-black.clickable:hover {
  background: var(--hoverDark) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow) !important;
}