:root{
  --mainBlue: #22224e;
  --lightBlue: #009ffd;
  --logoBlue: #99D9EA;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --hoverDark: #4a4d52;
  --mainYellow: #ffa400;
  --boxShadow: rgba(0, 0, 0, 0.2);
}

body {
  font-family: 'Nunito', sans-serif !important;
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.text-title {
  font-family: 'Comfortaa', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--logoBlue);
}
.text-bright {
  color: var(--lightBlue);
}